<?xml version="1.0"?>

<launch>

  <arg name="bag_path" default="$(optenv BAG_PATH /no_bag_given)"/>

  <!-- MHE Estimator -->
  <node name="mhe" pkg="turtlebot_MHE" type="turtlebot_MHE" output="screen">
    <rosparam command="load" file="$(find turtlebot_MHE)/params/mhe_params.yaml"/>
  </node>

  <node name="player" pkg="rosbag" type="play" output="screen" args="--clock $(arg bag_path)"/>

</launch>
